<!DOCTYPE html>
<html>
  <head>
    <title>SimpleBlog</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css' %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom shadow-sm">
      <span class="p-2 text-dark"><%= link_to 'AndriiShainohaBlog', home_path %></span>
      <span class="btn btn-outline-primary p-2 text-dark" style="margin-left:1000px;"><%= link_to 'Adding post', new_post_path %></span>
    </div>

    <div class="container">
      <%= yield %>
    </div>

  </body>
</html>
